---
export const prerender = true;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <title>Firefly CMS</title>

    <link
        rel="cms-config-url"
        type="text/yaml"
        href="/admin/config.yml"
    />
</head>

<body>

<script type="module">
    import CMS from "decap-cms-app";

    CMS.init();
</script>

</body>
</html>